/* позволяет обнулить все встроенные css правила на сайте* {
padding: 0;
} */

body {
    background-color: antiquewhite;
    color: rgb(29, 1, 1);
    font-family: Raleway;
}
a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*обращение напрямую к ссылке и конкретному действию, в данном случае к поведению ссылки при наведении курсора*/
.avatar {
    width: 200px;
    border-radius: 15%;
    box-shadow: 4px 4px 15px 15px rgb(182, 109, 26);
}

a:active {
    color: brown;
}
/*при нажатии и удержании меняется цвет*/

a:visited {
    color: grey;
}
/*меняет цвет у уже открывавшихся ссылок*/

.card {
    background-color: rgba(223, 168, 85, 0.815);
    padding: 15px 40px;
    margin-bottom: 20px;
    border-radius: 20px;
}

ul {
    padding: 0 20px;
    }
li {
color: rgb(37, 18, 2);
margin-bottom: 5px;
/*border-bottom: 1px solid grey; /*подчеркивание пунктов*/ 
}
.name {
    margin-bottom: 40px;
}